<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calories in Common Foods</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>

    <h1 class="foods-exercises-titles">Calories in Common Foods</h1>

    <h2 class="foods-exercises-titles">Fruit</h2>
    <table>
        <thead>
            <tr>
                <th>Food</th>
                <th>Serving Size</th>
                <th>Calories</th>
                <th>kJ (kilojoules)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Apple</td>
                <td>1 (4 oz.)</td>
                <td>59</td>
                <td>247</td>
            </tr>
            <tr>
                <td>Banana</td>
                <td>1 (6 oz.)</td>
                <td>151</td>
                <td>632</td>
            </tr>
            <tr>
                <td>Grapes</td>
                <td>1 cup</td>
                <td>100</td>
                <td>419</td>
            </tr>
            <tr>
                <td>Orange</td>
                <td>1 (4 oz.)</td>
                <td>53</td>
                <td>222</td>
            </tr>
            <tr>
                <td>Pear</td>
                <td>1 (5 oz.)</td>
                <td>82</td>
                <td>343</td>
            </tr>
            <tr>
                <td>Peach</td>
                <td>1 (6 oz.)</td>
                <td>67</td>
                <td>281</td>
            </tr>
            <tr>
                <td>Pineapple</td>
                <td>1 cup</td>
                <td>82</td>
                <td>343</td>
            </tr>
            <tr>
                <td>Strawberry</td>
                <td>1 cup</td>
                <td>53</td>
                <td>222</td>
            </tr>
            <tr>
                <td>Watermelon</td>
                <td>1 cup</td>
                <td>50</td>
                <td>209</td>
            </tr>
        </tbody>
    </table>

    <h2 class="foods-exercises-titles">Vegetables</h2>
    <table>
        <thead>
            <tr>
                <th>Food</th>
                <th>Serving Size</th>
                <th>Calories</th>
                <th>kJ (kilojoules)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Asparagus</td>
                <td>1 cup</td>
                <td>27</td>
                <td>113</td>
            </tr>
            <tr>
                <td>Broccoli</td>
                <td>1 cup</td>
                <td>45</td>
                <td>188</td>
            </tr>
            <tr>
                <td>Carrots</td>
                <td>1 cup</td>
                <td>50</td>
                <td>209</td>
            </tr>
            <tr>
                <td>Cucumber</td>
                <td>4 oz.</td>
                <td>17</td>
                <td>71</td>
            </tr>
            <tr>
                <td>Eggplant</td>
                <td>1 cup</td>
                <td>35</td>
                <td>147</td>
            </tr>
            <tr>
                <td>Lettuce</td>
                <td>1 cup</td>
                <td>5</td>
                <td>21</td>
            </tr>
            <tr>
                <td>Tomato</td>
                <td>1 cup</td>
                <td>22</td>
                <td>92</td>
            </tr>
        </tbody>
    </table>

    <h2 class="foods-exercises-titles">Proteins</h2>
    <table>
        <thead>
            <tr>
                <th>Food</th>
                <th>Serving Size</th>
                <th>Calories</th>
                <th>kJ (kilojoules)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Beef, regular, cooked</td>
                <td>2 oz.</td>
                <td>142</td>
                <td>595</td>
            </tr>
            <tr>
                <td>Chicken, cooked</td>
                <td>2 oz.</td>
                <td>136</td>
                <td>569</td>
            </tr>
            <tr>
                <td>Tofu</td>
                <td>4 oz.</td>
                <td>86</td>
                <td>360</td>
            </tr>
            <tr>
                <td>Egg</td>
                <td>1 large</td>
                <td>78</td>
                <td>327</td>
            </tr>
            <tr>
                <td>Fish, Catfish, cooked</td>
                <td>2 oz.</td>
                <td>136</td>
                <td>569</td>
            </tr>
            <tr>
                <td>Pork, cooked</td>
                <td>2 oz.</td>
                <td>137</td>
                <td>574</td>
            </tr>
            <tr>
                <td>Shrimp, cooked</td>
                <td>2 oz.</td>
                <td>56</td>
                <td>234</td>
            </tr>
        </tbody>
    </table>

    <h2 class="foods-exercises-titles">Common Meals/Snacks</h2>
    <table>
        <thead>
            <tr>
                <th>Food</th>
                <th>Serving Size</th>
                <th>Calories</th>
                <th>kJ (kilojoules)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Bread, white</td>
                <td>1 slice (1 oz.)</td>
                <td>75</td>
                <td>314</td>
            </tr>
            <tr>
                <td>Butter</td>
                <td>1 tablespoon</td>
                <td>102</td>
                <td>427</td>
            </tr>
            <tr>
                <td>Caesar salad</td>
                <td>3 cups</td>
                <td>481</td>
                <td>2014</td>
            </tr>
            <tr>
                <td>Cheeseburger</td>
                <td>1 sandwich</td>
                <td>285</td>
                <td>1193</td>
            </tr>
            <tr>
                <td>Hamburger</td>
                <td>1 sandwich</td>
                <td>250</td>
                <td>1047</td>
            </tr>
            <tr>
                <td>Dark Chocolate</td>
                <td>1 oz.</td>
                <td>155</td>
                <td>649</td>
            </tr>
            <tr>
                <td>Corn</td>
                <td>1 cup</td>
                <td>132</td>
                <td>553</td>
            </tr>
            <tr>
                <td>Pizza</td>
                <td>1 slice (14")</td>
                <td>285</td>
                <td>1193</td>
            </tr>
            <tr>
                <td>Potato</td>
                <td>6 oz.</td>
                <td>130</td>
                <td>544</td>
            </tr>
            <tr>
                <td>Rice</td>
                <td>1 cup cooked</td>
                <td>206</td>
                <td>862</td>
            </tr>
            <tr>
                <td>Sandwich</td>
                <td>1 (6" Subway Turkey Sandwich)</td>
                <td>200</td>
                <td>837</td>
            </tr>
        </tbody>
    </table>

    <h2 class="foods-exercises-titles">Beverages/Dairy</h2>
    <table>
        <thead>
            <tr>
                <th>Food</th>
                <th>Serving Size</th>
                <th>Calories</th>
                <th>kJ (kilojoules)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Beer</td>
                <td>1 can</td>
                <td>154</td>
                <td>644</td>
            </tr>
            <tr>
                <td>Coffee</td>
                <td>1 cup</td>
                <td>2</td>
                <td>8</td>
            </tr>
            <tr>
                <td>Milk</td>
                <td>1 cup</td>
                <td>150</td>
                <td>628</td>
            </tr>
            <tr>
                <td>Soda</td>
                <td>1 can</td>
                <td>140</td>
                <td>586</td>
            </tr>
            <tr>
                <td>Tea</td>
                <td>1 cup</td>
                <td>2</td>
                <td>8</td>
            </tr>
            <tr>
                <td>Wine</td>
                <td>1 glass (5 oz.)</td>
                <td>125</td>
                <td>523</td>
            </tr>
        </tbody>
    </table>

    <div class="links">
        <a href="{{ url_for('exercises') }}">Calories Burned from Common Exercises</a>
        <a href="{{ url_for('home') }}">Back to Home</a>
    </div>

</body>
</html>
